@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Cabin", Arial, Geneva, sans-serif;
    background-image: url(../img/clouds.png);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Niconne', cursive;
    font-weight: normal;
    color: #c80060;
}

.wrapper {
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0; 
}

nav {
    background: url(../img/scallop.png) repeat-x;
    padding-top: 1px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    list-style-type: none;
    background-color: #e6bf98;
    padding: .75em;
    margin: 10px 0 0 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 100%;
}

nav li {
    flex: 0 1 50%;
    padding: .5em;
}

nav a {
    color: #c80060;
    text-decoration: none;
    display: block;
    padding-left: 3.333333%;
}

nav a:hover{
    color: #00c4c7;
}

.main-content {
    background-color: #fff6e0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

article img {
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    float: right;
    margin: 0 0 1em 1em;
}

.secondary-content {
    display: flex;
    flex-flow: row wrap;
}

.testimonials,
.pie-of-month {
    border: 1px solid #00c4c7;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.testimonials h3,
.pie-of-month h3 {
    margin: 0;
    color: #ffffff;
    background-color: #00c4c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 0.5em;
}

.pie-of-month {
    border-color: #c80060;
}

.pie-of-month img {
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-width: 250px;
    display: block;
}

.pie-of-month h3 {
    background-color: #c80060;
}

blockquote {
    padding: 0;
    margin: 0;
}

blockquote p,
blockquote cite {
    padding: 0 1em; 
}

blockquote cite {
    text-transform: uppercase;
    font-style: normal;
    padding-bottom: 1em;
    display: block;
}

footer {
    background-color: #00CDD1;
    color: #ffffff;
    margin: 10px auto;
    text-align: center;
    
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 52px;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

/*   media queries   */

@media screen and (min-width: 550px) and (max-width: 849px) {
    body {
        margin: 0 .8em;    }
    
    nav li {
       flex: 0 1 auto;
       padding: 0;
       margin-right: 1.5em;
    }

    .secondary-content {
        justify-content: space-between;
    }
    
    .testimonials,
    .pie-of-month {
        flex: 0 1 47%;
    }
    
}

@media screen and (min-width: 850px) {
    body {
        margin: 0 2.8em;
    }
    
    .main-content {
        padding: 2.5em 2.5em 2.8em 2.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    nav ul {
        padding: .8em 1.5em;
    }
    
    nav li {
        flex: 0 1 auto;
        padding: 0;
        margin-right: 1.5em;
    }

    .history {
        flex: 0 1 70%;
    }
    
    .history > h2 {
        font-size: 3em;
        border-bottom: 2px dotted #c80060;
        margin: 0 0 .8em 0;
    }
    
    .secondary-content {
        flex: 0 1 27%;
        flex-flow: column wrap;
        padding-left: 2em;
    }
    
    .testimonials {
        margin: 0;
    }
    
    h3 {
        font-size: 2em;
    }
    
}










