@charset "UTF-8";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Cabin", Arial, Geneva, sans-serif;
    background-image: url(../img/clouds.png);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Niconne', cursive;
    font-weight: normal;
    color: #c80060;
}

h2 {
    font-size: 2em;
}

.wrapper {
    margin: 0 auto;
    max-width: 1500px;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1em; 
}

nav {
    background: url(../img/scallop.png) repeat-x;
    padding-top: 1px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    list-style-type: none;
    background-color: #e6bf98;
    padding: .75em;
    margin: 10px 0 0 0;
    border-bottom: 3px solid #cc8850;
    overflow: auto;
    width: 100%;
}

nav li {
    flex: 0 1 50%;
    padding: .5em;
}

nav a {
    color: #c80060;
    text-decoration: none;
    display: block;
    padding-left: 3.333333%;
}

nav a:hover{
    color: #00c4c7;
}

article img {
    border-radius: 10px;
    float: right;
    margin: 0 0 1em 1em;
}

/*
.banner {
    background: url(../img/gallery/table-with-pies.jpg) no-repeat;
    height: 120px;
    margin: 0;
    padding: 0;
}
*/

.main-content {
    background-color: #fff6e0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
}

.secondary-content {
    display: flex;
    flex-flow: row wrap;
}

.buttons {
    background: #c80060;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.buttons:hover {
    background: #ffffff;
    color: #c80060;
    border: 2px solid #c80060;
    font-weight: bold;
}

.home-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 0 30px 0;
}

.home-boxes h3 {
    font-size: 1.6em;
}

.testimonials,
.pie-of-month {
    border: 1px solid #00c4c7;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.testimonials h3,
.pie-of-month h3 {
    font-size: 1.6em;
    margin: 0;
    color: #ffffff;
    background-color: #00c4c7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 0.5em;
}

.pie-of-month {
    border-color: #c80060;
}

.pie-of-month img {
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-width: 250px;
    display: block;
}

.pie-of-month h3 {
    background-color: #c80060;
}

.pie-gallery ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pie-gallery li {
    flex: 0 0 100%;
}

li > img {
    width: 100%;
}

blockquote {
    padding: 0;
    margin: 0;
}

blockquote p,
blockquote cite {
    padding: 0 1em; 
}

blockquote cite {
    text-transform: uppercase;
    font-style: normal;
    padding-bottom: 1em;
    display: block;
}

footer {
    background-color: #00CDD1;
    color: #ffffff;
    margin: 10px auto;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 52px;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

/*   media queries   */

@media screen and (min-width: 550px) and (max-width: 849px) {
    body {
        margin: 0 .8em;    }
    
    nav li {
       flex: 0 1 auto;
       padding: 0;
       margin-right: 1.5em;
    }
    
    .banner {
        background: url(../img/gallery/table-with-pies_medium.jpg) no-repeat;
        height: 120px;
        max-width: 900px;
    }     
    
    .home-boxes > li {
        flex: 0 1 50%;
        padding: 10px;
    } 
    
    .history > h2,
    .main-content > h2,
    .pie-gallery > h2 {
        margin-top: 0;
    }
    
    .secondary-content {
        justify-content: space-between;
    }
    
    .testimonials,
    .pie-of-month {
        flex: 0 1 47%;
    }
    
    .pie-gallery li {
        flex: 0 0 50%;
        align-items: center;
        justify-content: center;
    }
    
    #menu {
        order: -1;
    }
    
    #testimonial {
        order: 10;
    }
    
    #donations {
        order: 20;
    }
}

@media screen and (min-width: 850px) {
    body {
        margin: 0 2.8em;
    }
    
    .logo {
        justify-content: flex-start;
    }
    
    .banner {
        background: url(../img/gallery/table-with-pies_big.jpg) no-repeat;
        height: 180px;
        max-width: 1500px;
    }     
    
    .main-content {
        padding: 2.5em 2.5em 2.8em 2.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    nav ul {
        padding: .8em 1.5em;
    }
    
    nav li {
        flex: 0 1 auto;
        padding: 0;
        margin-right: 1.5em;
    }

    .home-boxes {
        margin: 0;
        padding: 0;
    }
    
    .home-boxes > li {
        flex: 0 1 25%;
        padding: 0 10px;
    } 
    
    .home-boxes h3 {
        font-size: 2em;
    }
    
    .history {
        flex: 0 1 70%;
    }
    
    .history > h2,
    .main-content > h2,
    .pie-gallery > h2 {
        font-size: 3em;
        border-bottom: 2px dotted #c80060;
        margin: 0 0 .8em 0;
    }
    
    .secondary-content {
        flex: 0 1 27%;
        flex-flow: column wrap;
        padding-left: 2em;
    }
    
    .testimonials {
        margin: 0;
    }
    
    h3 {
        font-size: 2em;
    }
    
    .pie-gallery li {
        flex: 0 0 33%;
    }
    
}










